<h1>Sign Up</h1>

<%= form_with(model: @user, local: true, url: signup_path) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error" ) %> prohibited this user from being saved:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
          <% end %>
      </ul>
    </div>
    <% end %>
      <td>
        <main class="forms">
          <div class="field">
            <%= form.label :first_name %>
              <%= form.text_field :first_name, class: 'custom-input' %>
          </div>

          <div class="field">
            <%= form.label :last_name %>
              <%= form.text_field :last_name, class: 'custom-input' %>
          </div>

          <div class="field">
            <%= form.label :email %>
              <%= form.email_field :email, class: 'custom-input' %>
          </div>

          <div class="field">
            <%= form.label :password %>
              <%= form.password_field :password, class: 'custom-input' %>
          </div>

          <div class="field">
            <%= form.label :password_confirmation %>
              <%= form.password_field :password_confirmation, class: 'custom-input' %>
          </div>

          <div class="actions">
            <%= form.submit 'Sign Up' %>
          </div>
        </main>
      </td>
      <% end %>