<h1 class="about-index">Categories</h1>
<div class="panel panel-default products">
  <div>
    <%= link_to 'Back' , [:admin, :products], class: 'btn btn-secondary' %>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Category</th>
        <th>Created At</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td>
            <%= category.name %>
          </td>
          <td>
            <%= category.created_at %>
          </td>
          <td>
          <td>
            <%= button_to 'Delete' , [:admin, category], method: :delete, data: { confirm: 'Are you sure?' },
              class: 'btn btn-danger btn-sm' %>
          </td>
        </tr>
        <% end %>
    </tbody>
  </table>
  <%= link_to '+ New Category' , [:new, :admin, :category], class: 'btn btn-primary' %>
</div>